body {
    font-family: TheMixSemiBold, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #646464;
}

/* navbar section 0 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar .logo img {
    width: 82px;
    height: 50px;
}

.navbar .logo {
    margin-left: 100px
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 100px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu-items button {
    background-color: transparent;
    color: white;
    border: white;
    font-weight: 500;
    font-size: .85rem;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
    margin-right: 10px;
    padding: 0px 5px;
    border-radius: 0.125rem;
}

.menu-items button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#menue-items-join-btn {
    display: flex;
    justify-content: flex-end;
}

/* main btn section */

.blue-btn button {
    background-color: #0078BE;
    border-radius: 30px;
    line-height: 1.25;
    padding: 0.8rem 1.4rem;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    border: none;
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 0%);
}

/* hero intro div section 1 */

.hero-intro-div {
    margin-top: -22px;
    margin-left: -8px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)), url(../img/main-menu-slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-intro-div .main-title-div {
    line-height: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 1.2em;
}

/* foundation section 2 */

/* divs title section */

.div-title h2 {
    color: black;
    text-align: center;
    margin: 50px;
}

.foundation-div .cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.foundation-div .cards .card-section {
    width: 25%;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.foundation-div .cards .card-section p {
    text-align: center;
}

.foundation-div .cards .card-section img {
    height: 80px;
}

.foundation-div .cards .card-section h4 {
    color: black;
    font-weight: 900;
}