body {
    font-family: TheMixSemiBold;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #646464;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 65px;
}

.navbar .logo img {
    width: 82px;
    height: 50px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu-items button {
    background-color: transparent;
    color: white;
    border: white;
    font-weight: 600;
    font-size: .85rem;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
}

.menu-items button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#menue-items-join-btn {
    display: flex;
    justify-content: flex-end;
}